// Colors
// Colors
$pink: #fff5dcd0;
$purple: #1DA1F2;
$blue: #fff5dc;
$white: #fff5dc;
$lightpink: #e84427;
$orange: #d7a943;

// Media sizes
$media-sm: 576px;
$media-md: 798px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1440px;

$header-size: 110px;
